$color-primary: #6f0c0b;
$color-secondary: #e1c5bd;
$color-secondary-rose: #efdede;
$color-secondary-blue: #e5e8ee;
$color-gray: #6f737f;
$color-black: #000;
$color-white: #fff;
$color-form: #fcfcfc;
$color-of-white: #f5f5f5;
