.discounts-section {
}
.discounts-title-box {
  border-radius: 10px;
  font-weight: 600;
  padding: 24px;
  background-color: rgba($color-primary, 0.2);
  font-size: 22px;
  color: $color-black;
  text-align: center;
}
