.intro-section {
  position: relative;
  img {
    width: 100%;
  }
  &:after {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba($color-primary, 0.15);
  }
}

.common-product-section {
  .common-slider {
    .common-slider-item {
      width: calc(100% - 20px) !important;
    }
  }
}
