p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}
.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-padding-40 {
  padding: 40px 0;
}

.section-margin-40 {
  margin: 40px 0;
}

.prag {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}

.slick-slider:active {
  cursor: -webkit-grab;
  cursor: grab;
}
.slick-slider .time-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  aspect-ratio: 1;
  background-color: #6f737f;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 99;
}
.slick-slider .time-arrow:hover {
  background-color: rgba(111, 12, 11, 0.9);
}
.slick-slider .time-arrow.slick-disabled {
  background-color: rgba(111, 115, 127, 0.2);
  cursor: no-drop;
}
.slick-slider .time-arrow.right-arrow {
  right: -52px;
}
.slick-slider .time-arrow.left-arrow {
  left: -40px;
}
.slick-slider .slider-item {
  width: calc(100% - 5px) !important;
}

.rate-list-star {
  display: flex;
}
.rate-list-star li {
  padding: 0 6px;
}
.rate-list-star li svg {
  width: 20px;
  height: 20px;
}

.delete-item {
  font-size: 12px;
  font-weight: 600;
  color: #6f0c0b;
  transition: 0.2s all ease-in-out;
}
.delete-item:hover {
  color: #e1c5bd;
}
.delete-item i {
  padding: 0 6px;
}

.total-box-bar {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-box-bar .title {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.total-box-bar .price {
  font-size: 19px;
  font-weight: 700;
  color: black;
}

@media (max-width: 992px) {
  .details-title {
    font-size: 20px;
  }
}
@media (max-width: 772px) {
  .prag {
    font-size: 18px;
  }
  .slick-slider .slider-item {
    width: 100% !important;
    padding: 0 12px;
  }
  .slick-slider .time-arrow {
    width: 30px !important;
  }
  .details-title {
    font-size: 16px !important;
  }
  .details-title img {
    height: 40px;
  }
}
.header-section {
  background-color: #6f737f;
}
.header-section .logo-box {
  display: flex;
  align-items: center;
}
.header-section .logo-box .menu-icon {
  display: none;
}
.header-section .logo-box .menu-icon i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  color: white;
}
.header-section .logo-box .menu-icon i:hover {
  color: #6f0c0b;
}
.header-section .nav-list ul {
  display: flex;
  align-items: center;
}
.header-section .nav-list ul li a {
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 600;
  display: block;
  transition: 0.2s all ease-in-out;
  color: #fff;
}
.header-section .nav-list ul li a:hover, .header-section .nav-list ul li a.active {
  background-color: #6f0c0b;
}
.header-section .search-box {
  text-align: end;
}
.header-section .search-box form {
  justify-content: flex-end;
  display: flex;
  border-bottom: 1px solid #fff;
}
.header-section .search-box form input {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: #fff;
  padding: 6px;
  outline: 0;
}
.header-section .search-box form input:focus {
  box-shadow: 0;
  outline: none;
  border: 0;
}
.header-section .search-box form input::-moz-placeholder {
  color: #fff;
}
.header-section .search-box form input:-ms-input-placeholder {
  color: #fff;
}
.header-section .search-box form input::placeholder {
  color: #fff;
}
.header-section .search-box form button {
  color: #fff;
  border: 0;
  background-color: transparent;
}
.header-section .user-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-section .user-box .login-item {
  padding: 0 20px;
}
.header-section .user-box .login-item a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}
.icon-box {
  transition: 0.2s all ease-in-out;
  background-color: #fff;
  color: #6f0c0b;
  height: 34px;
  aspect-ratio: 1;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -3px 4px rgba(111, 12, 11, 0.25), inset 0px 3px 4px rgba(111, 12, 11, 0.1);
  cursor: pointer;
}
.icon-box.checked {
  background-color: #6f0c0b;
  box-shadow: inset 0px -3px 4px rgba(111, 12, 11, 0), inset 0px 3px 4px rgba(111, 12, 11, 0);
}
.icon-box.checked:hover {
  background-color: rgba(111, 12, 11, 0.8);
}
.icon-box.checked:hover a {
  color: white;
}
.icon-box.checked a {
  color: white;
}
.icon-box a {
  color: #6f0c0b;
  transition: 0.2s all ease-in-out;
}
.icon-box:hover {
  color: #6f737f;
  box-shadow: inset 0px -3px 4px rgba(111, 115, 127, 0.25), inset 0px 3px 4px rgba(111, 115, 127, 0.1);
}
.icon-box:hover a {
  color: #6f737f;
}

@media (max-width: 992px) {
  .header-section .nav-list ul li a {
    padding: 17px 10px;
    font-size: 12px;
  }
}
@media (max-width: 772px) {
  .order-1-header {
    order: -1;
  }
  .header-section {
    position: relative;
  }
  .header-section .logo-box .menu-icon {
    display: block;
  }
  .header-section .nav-list {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 999999;
    width: 100%;
    right: 0;
    background-color: #6f737f;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
    display: none;
  }
  .header-section .nav-list ul {
    display: block;
  }
}
.footer-section {
  padding: 60px 0 20px;
  margin: 60px 0 0;
  background-color: #6f737f;
}
.footer-section .footer-list {
  padding: 30px 0;
}
.footer-section .footer-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.footer-section .footer-list ul li {
  width: 25%;
  margin: 0 0 12px;
}
.footer-section .footer-list ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}
.footer-section .footer-list ul li a:hover {
  color: #6f0c0b;
}
.footer-section .copy-box {
  padding: 30px 0 0;
}
.footer-section .copy-box .prag {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.footer-section .copy-box .prag a {
  color: #fff;
}
.footer-section .copy-box .prag a:hover {
  color: #6f0c0b;
}

@media (max-width: 772px) {
  .footer-section .footer-list ul li {
    margin: 0 0 20px;
    text-align: start;
    width: 50%;
  }
}
.cart-section .cart-box {
  background-color: #fdfdff;
  box-shadow: inset -2px -2px 12px rgba(111, 12, 11, 0.05), inset 3px 3px 12px rgba(111, 12, 11, 0.05);
  padding: 24px;
  border-radius: 6px;
}
.cart-section .cart-box .title {
  font-size: 24px;
  font-weight: 800;
  color: #000;
  text-align: center;
  padding: 0 0 24px;
}
.cart-section .cart-box .cart-list-box .cart-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.cart-section .cart-box .cart-list-box .cart-list li .cart-list-title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.cart-section .cart-box .cart-list-box .cart-list li .cart-list-sub-title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.cart-section .cart-box .section-title .title {
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 772px) {
  .cart-section .cart-box .cart-list-box .cart-list li .cart-list-title {
    font-size: 18px;
  }
  .cart-section .cart-box .cart-list-box .cart-list li .cart-list-sub-title {
    font-size: 15px;
  }
}
.discounts-title-box {
  border-radius: 10px;
  font-weight: 600;
  padding: 24px;
  background-color: rgba(111, 12, 11, 0.2);
  font-size: 22px;
  color: #000;
  text-align: center;
}
.discounts-title-box.gray-back {
  background-color: rgba(111, 115, 127, 0.1);
}

.section-title .title {
  font-weight: 500;
  font-size: 34px;
  color: #000;
}
.section-title .title.primary-title {
  color: #6f0c0b;
}

.details-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 12px;
  color: #6f0c0b;
}
.details-title img {
  height: 60px;
}

@media (max-width: 992px) {
  .section-title .title {
    font-size: 24px;
  }
}
@media (max-width: 772px) {
  .section-title .title {
    font-size: 18px;
  }
}
.min-product {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: calc(100% - 20px);
  flex-direction: column;
  transition: 0.2s all ease-in-out;
  z-index: 1;
}
.min-product:after {
  content: "";
  background: var(--back-color);
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  right: 0;
  border-radius: 20px;
  z-index: -1;
  transition: 0.2s all ease-in-out;
}
.min-product:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
}
.min-product:hover:after {
  height: 100%;
}
.min-product:hover img {
  transform: translateY(-10px) scale(1.05);
  filter: drop-shadow(2px 10px 10px rgba(0, 0, 0, 0.2));
}
.min-product img {
  transition: 0.2s 0.1s all ease-in-out;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  min-height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1;
}
.min-product .product-title {
  padding: 14px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.product-box {
  border-radius: 10px;
  padding: 12px;
  background-color: #f5f5f5;
  transition: 0.4s all ease-in-out;
}
.product-box:hover {
  background-color: rgba(111, 12, 11, 0.1);
}
.product-box .img-box {
  position: relative;
  display: inline-block;
  width: 100%;
}
.product-box .img-box img {
  width: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
}
.product-box .img-box .icon-box {
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: unset !important;
}
.product-box .img-box .offer-box {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #6f0c0b;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 4px 0 0 4px;
  z-index: 1;
}
.product-box .category-name {
  font-weight: 550;
  font-size: 16px;
  color: #6f0c0b;
  padding: 14px 0;
}
.product-box .product-name {
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.product-box .link-box .link-item {
  padding: 14px 20px;
}

.rate-slider-box {
  padding: 40px 0;
}
.rate-slider-box .rate-slider.slick-slider .time-arrow {
  top: 87%;
}
.rate-slider-box .rate-slider.slick-slider .time-arrow.left-arrow {
  left: 28px;
}
.rate-slider-box .rate-slider.slick-slider .time-arrow.right-arrow {
  left: 78px;
  right: unset;
}
.rate-slider-box .rate-slider .rate-slider-item {
  padding: 24px 24px 50px;
  border-radius: 5px;
  background-color: white;
}
.rate-slider-box .rate-slider .rate-slider-item .rate-list-star {
  justify-content: flex-end;
  padding: 0 0 12px;
}
.rate-slider-box .rate-slider .rate-slider-item .feedbake-content {
  display: flex;
  align-items: flex-start;
}
.rate-slider-box .rate-slider .rate-slider-item .feedbake-content img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 12px;
}
.rate-slider-box .rate-slider .rate-slider-item .feedbake-content .feedbake-text-box {
  margin: 12px 0;
}
.rate-slider-box .rate-slider .rate-slider-item .feedbake-content .feedbake-text-box .name {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.rate-slider-box .rate-slider .rate-slider-item .feedbake-content .feedbake-text-box .prag {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.rate-form {
  padding: 24px 24px 50px;
  border-radius: 5px;
  background-color: white;
}
.rate-form .jq-ry-container {
  margin: 0 auto 0 24px;
}
.rate-form .form-content {
  display: flex;
  align-items: flex-end;
  margin: 0 0 16px;
}
.rate-form .form-content img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 12px;
}
.rate-form .form-content input {
  border: 0;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0 12px;
}
.rate-form .form-content input:focus {
  outline: 0;
  box-shadow: unset;
}
.rate-form .link-box {
  display: flex !important;
  width: 100%;
  justify-content: flex-end;
}
.rate-form .link-box .link-item {
  margin: 0 !important;
}

.price-box {
  padding: 20px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.price-box .price {
  font-size: 24px;
  color: #6f0c0b;
  font-weight: 600;
}
.price-box .price-discount {
  font-size: 16px;
  font-weight: 500;
  color: #6f737f;
  text-decoration: line-through;
}

.offer-box-contain {
  padding: 14px;
  border-radius: 5px;
  background-color: rgba(111, 12, 11, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.offer-box-contain.gray-back {
  background-color: rgba(111, 115, 127, 0.1);
}
.offer-box-contain .content-box {
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.offer-box-contain .content-box .link-box {
  display: none;
  width: 100%;
}
.offer-box-contain .content-box .link-box .link-item {
  width: 100%;
}
.offer-box-contain .content-box .offer-title {
  font-size: 28px;
  font-weight: 500;
  color: black;
}
.offer-box-contain .content-box img {
  margin: 24px auto;
  height: 120px;
}
.offer-box-contain .content-box .prag {
  text-align: start;
  font-size: 16px;
}
.offer-box-contain .offer-img-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
}
html[dir=rtl] .offer-box-contain .offer-img-box {
  padding: 0 24px 0 0;
}
.offer-box-contain .offer-img-box img {
  width: 100%;
}
.offer-box-contain .offer-img-box .link-box {
  padding-top: 24px;
}
.offer-box-contain .link-box .link-item {
  padding: 14px 20px;
}

.product-details-section .product-title-category {
  font-size: 24px;
  font-weight: 500;
  color: #6f0c0b;
  padding: 0 0 24px;
}
.product-details-section .product-details-img img {
  height: 467px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.product-details-section .product-details-img .img-box {
  margin-bottom: 24px;
  position: relative;
}
.product-details-section .product-details-img .img-box .offer-box {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #d94d4d;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 20px;
  border-radius: 4px 0 0 4px;
  z-index: 1;
}
.product-details-section .product-slider .product-slider-item {
  cursor: pointer;
}
.product-details-section .product-slider .product-slider-item img {
  height: 114px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.product-details-section .product-details-content .product-title {
  font-size: 26px;
  font-weight: 600;
  color: black;
}
.product-details-section .product-details-content .price-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-details-section .product-details-content .price-box .price {
  font-size: 28px;
  font-weight: 800;
}
.product-details-section .product-details-content .price-box .price-discount {
  padding: 0 12px;
}
.product-details-section .product-details-content .details-box {
  padding: 0 0 24px;
}
.product-details-section .product-details-content .details-box .details-title-min {
  color: #6f737f;
  font-size: 22px;
  font-weight: 500;
  padding: 0 0 12px;
}
.product-details-section .product-details-content .details-box .details-box-list {
  display: flex;
  align-items: center;
}
.product-details-section .product-details-content .details-box .details-box-list.size-list li {
  background-color: whitesmoke;
  font-weight: 600;
  font-size: 24px;
  color: black;
}
.product-details-section .product-details-content .details-box .details-box-list li {
  border: 0.5px solid rgba(111, 115, 127, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 0 0 0 12px;
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.product-details-section .product-details-content .details-box .details-box-list li:active {
  border: 0.5px solid rgba(111, 115, 127, 0);
  transform: translateY(4px) scale(0.98);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
}
.product-details-section .product-details-content .details-box .prag {
  font-weight: 500;
  font-size: 18px;
  width: 80%;
  color: rgba(0, 0, 0, 0.8);
}
.product-details-section .product-details-content .details-box.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-details-section .product-details-content .details-box.button-container .icon-box {
  height: 40px;
  font-size: 20px;
}
.product-details-section .product-details-content .details-box.button-container .icon-box a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-tap-section .tab-box {
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.3);
}
.details-tap-section .tab-box .nav-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1x solid #6f737f;
}
.details-tap-section .tab-box .nav-tabs .nav-link {
  width: 25%;
  border: 0;
  padding: 12px;
  color: #6f737f;
  border-bottom: 1px solid #6f737f !important;
  font-weight: 500;
}
.details-tap-section .tab-box .nav-tabs .nav-link.active {
  font-weight: 600;
  background-color: transparent;
  border-bottom: 3px solid #6f737f !important;
}
.details-tap-section .tab-box .tab-content {
  padding: 24px;
}
.details-tap-section .tab-box .tab-content .tab-details {
  padding: 0 0 30px;
}
.details-tap-section .tab-box .tab-content .tab-details:last-of-type {
  padding: 0;
}
.details-tap-section .tab-box .tab-content .tab-details .link-box {
  display: inline-block;
}
.details-tap-section .tab-box .tab-content .tab-details .link-box .link-item {
  margin: 0 auto;
}
.details-tap-section .tab-box .tab-content .tab-details .details-title-tab {
  font-size: 22px;
  padding: 0 0 12px;
  color: black;
  font-weight: 600;
}
.details-tap-section .tab-box .tab-content .tab-details .prag {
  font-size: 18px;
  opacity: 0.8;
}
.details-tap-section .tab-box .tab-content .tab-details .list-detils-dots {
  list-style: disc;
  padding: 0 26px;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details {
  display: flex;
  align-items: center;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-list {
  width: 100%;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-list .rate-list li {
  justify-content: center;
  width: 100%;
  display: flex;
  padding: 0 0 12px;
  align-items: center;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-list .rate-list li .rate-title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-list .rate-list li .progress {
  margin: 0 12px;
  width: 50%;
  height: 5px;
  border-radius: 10px;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-list .rate-list li .progress .progress-bar {
  background-color: #fbd667;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-stars {
  text-align: center;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-stars .rate-counter-min {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-stars .rate-counter-min .number {
  padding: 0 12px;
  font-size: 34px;
  color: black;
  font-weight: 500;
}
.details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-stars .rate-counter-min i {
  color: #fbd667;
  font-size: 30px;
}
.details-tap-section .tab-box .tab-content .tab-details .details-list {
  padding: 6px 20px;
  list-style: disc;
}
.details-tap-section .tab-box .tab-content .tab-details .details-list li {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12px;
}
.details-tap-section .tab-box .tab-content .tab-details .delivery-details {
  font-size: 20px;
  color: #6f737f;
}
.details-tap-section .tab-box .tab-content .tab-details .delivery-details .title {
  font-weight: 500;
}
.details-tap-section .tab-box .tab-content .tab-details .delivery-details .priec {
  font-weight: 700;
  color: black;
}
.details-tap-section .tab-box .tab-content .tab-details .delivary-list {
  padding: 10px 20px;
}
.details-tap-section .tab-box .tab-content .tab-details .delivary-list li {
  margin-bottom: 12px;
  font-size: 19px;
  font-weight: 400;
  position: relative;
  color: black;
}
.details-tap-section .tab-box .tab-content .tab-details .delivary-list li::after {
  top: 10px;
  right: -20px;
  height: 2px;
  width: 14px;
  position: absolute;
  content: "";
  background-color: black;
}
.details-tap-section .tab-box .tab-content .tab-details .delivary-list li .details {
  font-weight: 600;
  color: #6f0c0b;
}

@media (max-width: 992px) {
  .product-details-section .product-details-content .product-title {
    font-size: 22px;
  }
  .product-details-section .product-details-content .details-box .prag {
    width: 100%;
    font-size: 16px;
  }
  .product-details-section .product-details-content .details-box .link-box .link-item {
    padding: 15px 19px;
    font-size: 14px;
  }
  .product-details-section .product-details-content .details-box .quantity-button input {
    width: 60px;
  }
  .details-tap-section .tab-box .tab-content .tab-details .prag {
    font-size: 14px;
  }
  .details-tap-section .tab-box .tab-content .tab-details .details-title-tab {
    font-size: 21px;
  }
}
@media (max-width: 772px) {
  .min-product {
    padding: 14px;
  }
  .min-product img {
    min-height: 100px;
  }
  .min-product .product-title {
    font-size: 14px;
  }
  .product-box .category-name {
    font-style: 14px;
  }
  .product-box .product-name {
    font-size: 18px;
  }
  .price-box .price {
    font-size: 20px;
  }
  .price-box .price-discount {
    font-size: 14px;
  }
  .offer-box-contain {
    margin: 0 0 24px;
    display: flex;
    height: unset;
    flex-direction: column;
  }
  .offer-box-contain .offer-img-box {
    order: -1;
    width: 100%;
  }
  .offer-box-contain .offer-img-box .link-box {
    display: none;
  }
  html[dir=rtl] .offer-box-contain .offer-img-box {
    padding: 0 0 24px;
  }
  .offer-box-contain .content-box {
    width: 100%;
  }
  .offer-box-contain .content-box img {
    margin: 12px auto;
  }
  .offer-box-contain .content-box .link-box {
    display: block;
  }
  .product-details-section .product-details-img img {
    width: 100%;
  }
  .product-details-section .product-details-content {
    padding: 26px 0;
  }
  .product-details-section .product-details-content .product-title {
    font-size: 18px;
  }
  .product-details-section .product-details-content .details-box.button-container {
    flex-wrap: wrap;
  }
  .product-details-section .product-details-content .details-box.button-container .link-box {
    margin: 6px 0;
  }
  .product-details-section .product-details-content .details-box .prag {
    width: 100%;
    font-size: 14px;
  }
  .product-details-section .product-details-content .details-box .details-title-min {
    font-size: 18px;
  }
  .product-details-section .product-details-content .details-box .details-box-list.size-list li {
    font-size: 17px;
  }
  .product-details-section .product-details-content .details-box .details-box-list li {
    height: 30px;
  }
  .product-details-section .product-details-content .price-box .price {
    font-size: 22px;
  }
  .details-tap-section .tab-box .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .details-tap-section .tab-box .nav-tabs::-webkit-scrollbar {
    height: 4px;
  }
  .details-tap-section .tab-box .nav-tabs::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  .details-tap-section .tab-box .nav-tabs::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }
  .details-tap-section .tab-box .nav-tabs::-webkit-scrollbar-thumb:hover {
    background: #6f0c0b;
  }
  .details-tap-section .tab-box .nav-tabs .nav-link {
    min-width: 170px;
  }
  .details-tap-section .tab-box .nav-tabs .nav-link.active {
    font-weight: 500;
  }
  .details-tap-section .tab-box .tab-content .tab-details .rate-details {
    flex-wrap: wrap;
    justify-content: center;
  }
  .details-tap-section .tab-box .tab-content .tab-details .rate-details .rate-details-stars {
    order: -1;
    margin: 0 0 12px;
  }
  .details-tap-section .tab-box .tab-content .tab-details .prag {
    font-size: 12px;
  }
  .details-tap-section .tab-box .tab-content .tab-details .details-title-tab {
    font-size: 15px;
  }
  .details-tap-section .tab-box .tab-content .tab-details .details-list li,
.details-tap-section .tab-box .tab-content .tab-details .delivary-list li {
    font-size: 14px;
  }
  .rate-slider-box .rate-slider .rate-slider-item {
    padding: 14px 13px 50px;
  }
  .rate-slider-box .rate-slider .rate-slider-item .feedbake-content .feedbake-text-box .prag {
    font-size: 14px;
  }
}
.min-product-box {
  display: flex;
}
.min-product-box .img-box img {
  height: 150px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.min-product-box .min-product-box-content {
  padding: 0 24px;
}
.min-product-box .min-product-box-content .product-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.min-product-box .min-product-box-content .prag {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(111, 115, 127, 0.5);
}
.min-product-box .min-product-box-content .quantity-button {
  margin-top: 12px;
  padding: 4px;
}
.min-product-box .min-product-box-content .quantity-button button,
.min-product-box .min-product-box-content .quantity-button input {
  font-size: 14px;
}
.min-product-box .min-product-box-content .quantity-button input {
  width: 40px;
}

@media (max-width: 772px) {
  .min-product-box .min-product-box-content .product-title {
    font-size: 17px;
  }
}
.history-banner-section {
  padding: 60px 0;
  z-index: 1;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.discounts-section .history-banner-section {
  padding: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.discounts-section .history-banner-section .banner-content {
  max-width: 40%;
}
.discounts-section .history-banner-section .link-box .link-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.history-banner-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(111, 12, 11, 0.18);
  z-index: -1;
}
.history-banner-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/bannerBack.png");
  z-index: -2;
  opacity: 0.3;
}
.history-banner-section.banner-backGround::after {
  background-color: rgba(111, 12, 11, 0.3);
}
.history-banner-section.banner-backGround .banner-content .banner-title {
  color: white;
}
.history-banner-section.banner-backGround .banner-content .prag {
  color: white;
}
.history-banner-section .banner-content .banner-title {
  color: black;
  font-size: 40px;
  font-weight: 500;
  font-family: Lemonada;
}
.history-banner-section .banner-content .prag {
  opacity: 0.7;
  padding: 24px 0;
}
.history-banner-section .banner-content .link-box {
  width: 70%;
}
.history-banner-section .banner-img {
  text-align: end;
}
.history-banner-section .banner-img img {
  filter: drop-shadow(2px 10px 2px rgba(0, 0, 0, 0.1));
}

.offer-banner-section {
  padding: 60px 0;
  background-color: rgba(111, 115, 127, 0.3);
}

@media (max-width: 772px) {
  .history-banner-section {
    padding: 30px 0;
  }
  .history-banner-section .banner-content {
    text-align: center;
  }
  .discounts-section .history-banner-section .banner-content {
    max-width: 100%;
  }
  .discounts-section .history-banner-section .banner-content .link-box {
    text-align: center;
  }
  .discounts-section .history-banner-section .banner-content .link-box .link-item {
    margin: 0 auto;
  }
  .history-banner-section .banner-content .banner-title {
    font-size: 30px;
  }
  .history-banner-section .banner-content .link-box {
    width: 70%;
    margin: 0 auto;
  }
  .history-banner-section .banner-img {
    padding-bottom: 24px;
    text-align: center;
  }
  .history-banner-section .banner-img img {
    height: 150px;
  }
}
.link-box {
  overflow: hidden;
}
.link-box.section-button .link-item {
  display: inline-block;
  padding: 12px;
}
.link-box.section-button .link-item i {
  padding: 0 12px !important;
}
.link-box.gray-link .link-item {
  background-color: #6f737f;
}
.link-box.gray-link .link-item:hover {
  background-color: #6f0c0b;
}
.link-box.border-link .link-item {
  border: 1px solid #6f0c0b;
  background-color: transparent;
  color: #6f0c0b;
}
.link-box.border-link .link-item:hover {
  background-color: #6f0c0b;
  color: #fff;
}
.link-box .link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 60px;
  background-color: #6f0c0b;
  transition: 0.2s all ease-in-out;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
  position: relative;
  border: 0;
}
.link-box .link-item::before {
  z-index: -3;
  position: absolute;
  content: "";
  top: 0;
  opacity: 0;
  right: 0px;
  height: 60px;
  transition: 0.4s all ease-in-out;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/knife.png");
}
.link-box .link-item:hover {
  background-color: #6f737f;
}
.link-box .link-item:hover::before {
  opacity: 0.1;
}
.link-box .link-item:active {
  transform: translateY(1px) scale(0.98);
}
html[dir=rtl] .link-box .link-item i {
  padding: 0 12px 0 0;
}
html[dir=ltr] .link-box .link-item i {
  padding: 0 0 0 12px;
}

.more-link a {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  transition: 0.2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.more-link a:hover {
  color: #6f737f;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #6f0c0b;
  padding: 8px 4px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.quantity-button button {
  color: #6f0c0b;
  font-size: 22px;
  border: 0;
  background-color: transparent;
}
.quantity-button button:active {
  transform: translateY(1px) scale(0.98);
}
.quantity-button input {
  width: 100px;
  font-size: 22px;
  text-align: center;
  border: 0;
  background-color: transparent;
}
.quantity-button input:focus {
  box-shadow: 0;
  border: 0;
  outline: none;
}

@media (max-width: 772px) {
  .more-link a {
    font-size: 14px;
  }
  .link-box.section-button .link-item {
    font-size: 12px;
  }
  .link-box .link-item {
    font-size: 14px;
    padding: 14px 30px;
  }
}
.intro-section {
  position: relative;
}
.intro-section img {
  width: 100%;
}
.intro-section:after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(111, 12, 11, 0.15);
}

.page-banner-intro-section {
  padding: 40px 0;
}
.page-banner-intro-section .page-banner-intro {
  padding: 60px;
  background-color: #e5e8ee;
  position: relative;
  text-align: center;
  border-radius: 10px;
  z-index: 1;
  background-image: url("../img/dishgroup.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-banner-intro-section .page-banner-intro .title {
  font-size: 32px;
  font-weight: 600;
  width: 30%;
  margin: 0 auto 24px;
  color: black;
}
.page-banner-intro-section .page-banner-intro .link-box {
  text-align: center;
}
.page-banner-intro-section .page-banner-intro .link-box .link-item {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 772px) {
  .page-banner-intro-section .page-banner-intro {
    padding: 60px 0;
  }
  .page-banner-intro-section .page-banner-intro .title {
    font-size: 24px;
    width: 100%;
  }
}
.edit-modal {
  z-index: 9999999;
}
.edit-modal .modal-content {
  padding: 0 10px 40px;
}
.edit-modal .modal-header {
  border: 0;
  justify-content: flex-end;
}
.edit-modal .modal-header button {
  color: #6f0c0b;
  border: 0;
  background-color: transparent;
  font-size: 22px;
  outline: transparent;
}
.edit-modal .modal-header button:focus {
  border: 0;
  box-shadow: none;
}
.edit-modal .error-content img {
  height: 100px;
}
.edit-modal .error-content .error-title {
  padding: 20px 0 60px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.edit-modal .model-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.edit-modal .model-button .button-box {
  width: 45%;
}
.edit-modal .model-button .button-box a {
  padding: 6px;
}
.edit-modal .section-title-box .section-title {
  font-weight: 500;
  font-size: 20px;
}
.edit-modal .section-title-box .section-title .number {
  font-size: 18px;
  color: #6f0c0b;
}
.edit-modal .section-title-box .section-title .number i {
  font-size: 14px;
}
.edit-modal .service-list-box {
  padding: 30px 0 0;
}
.edit-modal .add-chart-title {
  padding: 12px;
}
.edit-modal .add-chart-title .details-title i {
  color: #4bae4f;
}
.edit-modal .total-box-bar {
  padding: 24px 0 12px;
}
.edit-modal .button-box-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.edit-modal .button-box-bar .link-box {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.edit-modal .button-box-bar .link-box .link-item {
  margin: 6px 1px;
  padding: 14px 22px;
}

@media (max-width: 772px) {
  .edit-modal .section-title-box .section-title {
    font-size: 14px;
  }
  .edit-modal .error-content .error-title {
    padding: 20px 0 30px;
    font-size: 14px;
  }
  .edit-modal .model-button {
    display: block;
  }
  .edit-modal .model-button .button-box {
    padding: 10px 0 0;
    width: 100%;
  }
}
.pretty {
  margin: 0;
}
.pretty .state label:after,
.pretty .state label:before {
  z-index: 999999;
  top: 50%;
}
html[dir=rtl] .pretty .state label:after,
html[dir=rtl] .pretty .state label:before {
  left: unset;
  right: 1px;
}
.pretty .state label:before {
  border-color: #6f737f;
  top: 50%;
  transform: translateY(-50%);
}
.pretty .state label::after {
  transform: scale(0.6) translateY(-87%) !important;
}
.pretty input:checked ~ .state label::before {
  border-color: #6f0c0b;
}
.pretty input:checked ~ .state label::after {
  background-color: #6f0c0b !important;
}
.pretty.p-default input:checked ~ .state label:after {
  background-color: #6f0c0b !important;
}

.coupon-box-form form .form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coupon-box-form form .form-box.primary-button button {
  background-color: #6f0c0b;
  border-color: #6f0c0b;
}
.coupon-box-form form .form-box.primary-button button:hover {
  border-color: #000;
  background-color: #000;
}
.coupon-box-form form input {
  padding: 8px;
  border: 1px solid #6f737f;
  border-radius: 5px;
  color: #6f737f;
  width: 60%;
}
.coupon-box-form form button {
  color: #fff;
  border: 1px solid #6f737f;
  border-radius: 5px;
  background-color: #6f737f;
  padding: 8px 12px;
  transition: 0.2s all ease-in-out;
}
.coupon-box-form form button:hover {
  border-color: #6f0c0b;
  background-color: #6f0c0b;
}
.coupon-box-form form .link-box .link-item {
  display: block;
  width: 100%;
}

@media (max-width: 772px) {
  .coupon-box-form form .form-box {
    display: block;
  }
  .coupon-box-form form .form-box input,
.coupon-box-form form .form-box button {
    width: 100%;
    margin: 6px 0;
  }
}