.link-box {
  overflow: hidden;
  &.section-button {
    .link-item {
      display: inline-block;
      padding: 12px;
      i {
        padding: 0 12px !important;
      }
    }
  }
  &.gray-link {
    .link-item {
      background-color: $color-gray;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
  &.border-link {
    .link-item {
      border: 1px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
  .link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 60px;
    background-color: $color-primary;
    @include trans(0.2);
    border-radius: 10px;
    color: $color-white;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
    position: relative;
    border: 0;
    &::before {
      z-index: -3;
      position: absolute;
      content: "";
      top: 0;
      opacity: 0;
      right: 0px;
      height: 60px;
      @include trans(0.4);
      aspect-ratio: 1;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/knife.png");
    }
    &:hover {
      background-color: $color-gray;
      &::before {
        opacity: 0.1;
      }
    }
    &:active {
      transform: translateY(1px) scale(0.98);
    }
    i {
      @include dir(rtl) {
        padding: 0 12px 0 0;
      }
      @include dir(ltr) {
        padding: 0 0 0 12px;
      }
    }
  }
}

.more-link {
  a {
    font-size: 18px;
    font-weight: 500;
    color: $color-black;
    @include trans(0.2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:hover {
      color: $color-gray;
    }
  }
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $color-primary;
  padding: 8px 4px;
  border-radius: 5px;
  width: fit-content;
  button {
    color: $color-primary;
    font-size: 22px;
    border: 0;
    background-color: transparent;
    &:active {
      transform: translateY(1px) scale(0.98);
    }
  }
  input {
    width: 100px;
    font-size: 22px;
    text-align: center;
    border: 0;
    background-color: transparent;
    &:focus {
      box-shadow: 0;
      border: 0;
      outline: none;
    }
  }
}

@media (max-width: 772px) {
  .more-link {
    a {
      font-size: 14px;
    }
  }
  .link-box {
    &.section-button {
      .link-item {
        font-size: 12px;
      }
    }
    .link-item {
      font-size: 14px;
      padding: 14px 30px;
    }
  }
}
