.coupon-box-form {
  form {
    .form-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.primary-button {
        button {
          background-color: $color-primary;
          border-color: $color-primary;
          &:hover {
            border-color: $color-black;
            background-color: $color-black;
          }
        }
      }
    }
    input {
      padding: 8px;
      border: 1px solid $color-gray;
      border-radius: 5px;
      color: $color-gray;
      width: 60%;
    }
    button {
      color: $color-white;
      border: 1px solid $color-gray;
      border-radius: 5px;
      background-color: $color-gray;
      padding: 8px 12px;
      @include trans(0.2);
      &:hover {
        border-color: $color-primary;
        background-color: $color-primary;
      }
    }
    .link-box {
      .link-item {
        display: block;
        width: 100%;
      }
    }
  }
}

@media (max-width: 772px) {
  .coupon-box-form {
    form {
      .form-box {
        display: block;
        input,
        button {
          width: 100%;
          margin: 6px 0;
        }
      }
    }
  }
}
