.coupon-box-form {
  form {
    .form-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    input {
      padding: 6px;
      border: 1px solid $color-gray;
      border-radius: 5px;
      color: $color-gray;
      width: 60%;
    }
    button {
      color: $color-white;
      border: 1px solid $color-gray;
      border-radius: 5px;
      background-color: $color-gray;
      padding: 8px 12px;
      @include trans(0.2);
      &:hover {
        border-color: $color-primary;
        background-color: $color-primary;
      }
    }
    .link-box {
      .link-item {
        display: block;
        width: 100%;
      }
    }
  }
}
