.pretty {
  margin: 0;
  .state label:after,
  .state label:before {
    z-index: 999999;
    top: 50%;
    @include dir(rtl) {
      left: unset;
      right: 1px;
    }
  }
  .state label:before {
    border-color: $color-gray;
    top: 50%;
    transform: translateY(-50%);
  }
  .state label::after {
    transform: scale(0.6) translateY(-87%) !important;
  }
  &.p-fill {
    .state label::after {
      transform: scale(1) translateY(-50%) !important;
    }
  }
  & input:checked ~ .state label::before {
    border-color: $color-primary;
  }
  & input:checked ~ .state label::after {
    background-color: $color-primary !important;
  }
  &.p-default input:checked ~ .state label:after {
    background-color: $color-primary !important;
  }

  &.p-switch {
    @include dir(rtl) {
      input:checked ~ .state label:after {
        right: 1rem;
      }
    }
    .state {
      label {
        &::before {
          display: none !important;
        }
      }
    }
  }
  &.p-icon {
    i {
      @include dir(rtl) {
        left: unset;
        top: unset !important;
        right: 1px;
      }
    }
    .state {
      label {
        &::after {
          display: none !important;
        }
      }
    }
  }
}

.form-group {
  padding: 0 0 24px;
  label {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    color: rgba($color-primary, 1);
  }
  input,
  select,
  textarea {
    appearance: auto;
    border-radius: 6px;
    &:focus {
      outline: transparent;
      box-shadow: unset;
      border-color: rgba($color-primary, 1);
    }
  }
}

.slider-range-box {
  .ui-widget-content {
    background: rgba($color-gray, 0.8) !important;
  }
  .ui-slider-horizontal {
    height: 0.4em;
    .ui-slider-range {
      background-color: rgba($color-primary, 1);
    }
    .ui-slider-handle {
      border-radius: 50%;
      border: 0;
      background-color: rgba($color-primary, 1);
      top: 50%;
      transform: translateY(-50%);
      &:focus {
        border: 0;
        outline: transparent;
      }
    }
  }
  .slider-rang-text {
    padding: 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgba($color-black, 1);
  }
}
