.section-title {
  .title {
    font-weight: 500;
    font-size: 34px;
    color: $color-black;
    &.primary-title {
      color: rgba($color-primary, 1);
    }
  }
}
.details-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 12px;
  color: rgba($color-primary, 1);
  img {
    height: 60px;
  }
}
@media (max-width: 992px) {
  .section-title {
    .title {
      font-size: 24px;
    }
  }
}
@media (max-width: 772px) {
  .section-title {
    .title {
      font-size: 18px;
    }
  }
}
