.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-padding-40 {
  padding: 40px 0;
}
.section-margin-40 {
  margin: 40px 0;
}

.prag {
  font-size: 22px;
  font-weight: 500;
  color: $color-black;
}
