.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-padding-40 {
  padding: 40px 0;
}
.section-margin-40 {
  margin: 40px 0;
}

.prag {
  font-size: 22px;
  font-weight: 500;
  color: $color-black;
}

.slick-slider {
  &:active {
    cursor: grab;
  }
  .time-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    aspect-ratio: 1;
    background-color: rgba($color-gray, 1);
    border-radius: 5px;
    @include trans(0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($color-white, 1);
    cursor: pointer;
    z-index: 99;
    &:hover {
      background-color: rgba($color-primary, 0.9);
    }
    &.slick-disabled {
      background-color: rgba($color-gray, 0.2);
      cursor: no-drop;
    }
    &.right-arrow {
      right: -52px;
    }
    &.left-arrow {
      left: -40px;
    }
  }
  .slider-item {
    width: calc(100% - 5px) !important;
  }
}

.rate-list-star {
  display: flex;
  li {
    padding: 0 6px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 992px) {
  .details-title {
    font-size: 20px;
  }
}
@media (max-width: 772px) {
  .prag {
    font-size: 18px;
  }
  .slick-slider {
    .slider-item {
      width: 100% !important;
      padding: 0 12px;
    }
    .time-arrow {
      width: 30px !important;
    }
  }
  .details-title {
    font-size: 16px !important;
    img {
      height: 40px;
    }
  }
}
