.footer-section {
  padding: 60px 0 20px;
  margin: 60px 0 0;
  background-color: $color-gray;
  .logo-box {
    img {
      height: 100px;
      object-fit: contain;
    }
  }
  .footer-list {
    padding: 30px 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      li {
        width: 25%;
        margin: 0 0 12px;
        a {
          font-size: 16px;
          color: $color-white;
          font-weight: 500;
          @include trans(0.2);
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
  .copy-box {
    padding: 30px 0 0;
    .prag {
      text-align: center;
      font-size: 14px;
      color: $color-white;
      a {
        color: $color-white;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

@media (max-width: 772px) {
  .footer-section {
    .footer-list {
      ul {
        li {
          margin: 0 0 20px;
          text-align: start;
          width: 50%;
        }
      }
    }
  }
}
